/* FAQ page */
.faq-container .container {
    display: flex;
    padding: 1.5em 0;
    flex-wrap: wrap;
}

.faq-container h2 {
    padding-bottom: 1.5em;
}

.faq-container .container > * {
    margin: 0 20px;
}

.faq {
    width: 50%;
}

.faq div {
    padding: 1em 0;
}

.faq div p {
    padding: 10px 0;
}

.ask-question-form {
    display: flex;
    flex-direction: column;
    background-color: #F1F0FF;
    padding: 2em;
    width: 40%;
}

.ask-question-form > * {
    margin: 20px 0;
}

.ask-question-form input,
.ask-question-form textarea
 {
    padding: 15px;
    width: 100%;
    border: 2px solid #00000016;
    border-radius: 5px;
}

/* Responsiveness */
@media (max-width: 968px) {
    .faq, .ask-question-form {
        width: 100%;
    }
}