
    <section class="promotion">
      <img class="img-bg-promo" src="./assets/images/lamp-promo.png" alt="">
      <div class="container">
          <div class="owl-carousel owl-theme">
              <div class="item row" data-dot="<span></span>">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <p class="promo-slogan text-pink text-lato fw-bold">Best Furniture For Your Castle....</p>
                      <h1 class="promo-title fw-bold">New Furniture Collection <br class="d-none d-xl-block">Trends in 2020</h1>
                      <p class="promo-desc text-lato fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                          <br class="d-none d-xl-block">in phasellus non in justo.</p>
                      <button class="btn btn-shopping-now">Shop Now</button>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <img src="./assets/images/sofa promotional header.png" alt="">
                  </div>
              </div>
              <div class="item row" data-dot="<span></span>">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <p class="promo-slogan text-pink text-lato fw-bold">Best Furniture For Your Castle....</p>
                      <h1 class="promo-title fw-bold">New Furniture Collection <br class="d-none d-xl-block">Trends in 2020</h1>
                      <p class="promo-desc 1text-lato fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                          <br class="d-none d-xl-block">in phasellus non in justo.</p>
                      <button class="btn btn-shopping-now">Shop Now</button>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <img src="./assets/images/sofa promotional header.png" alt="">
                  </div>
              </div>
              <div class="item row" data-dot="<span></span>">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <p class="promo-slogan text-pink text-lato fw-bold">Best Furniture For Your Castle....</p>
                      <h1 class="promo-title fw-bold">New Furniture Collection <br class="d-none d-xl-block">Trends in 2020</h1>
                      <p class="promo-desc text-lato fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                          <br class="d-none d-xl-block">in phasellus non in justo.</p>
                      <button class="btn btn-shopping-now">Shop Now</button>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                      <img src="./assets/images/sofa promotional header.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- promotional end -->

  <!-- featured products start  -->
  <section class="featured-products">
      <div class="container">
          <h1 class="section-title text-center">Featured Products</h1>

          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>

              <div class="carousel-inner" role="listbox">
                  <!-- first slide -->
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1168.png" alt="" >
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1169.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-pink text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 3.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- second slide -->
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1168.png" alt="" >
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1169.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-pink text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 3.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- third slide -->
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1168.png" alt="" >
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1169.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-pink text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 3.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- forth slide -->
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1168.png" alt="" >
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 1169.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-pink text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="product-img">
                                      <div class="card-img-top">
                                          <img src="./assets/images/image 3.png" alt="">
                                      </div>
                                      <div class="product-quickview">
                                          <ul class="feature-product-hover">
                                              <li class="navigation-link">
                                                  <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                              </li>
                                              <li class="navigation-link">
                                                  <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                              </li>
                                          </ul>
                                          <a href="" class="view-detail btn text-decoration-none text-center" role="button">View Details</a>
                                      </div>
                                  </div>

                                  <div class="card-body text-center">
                                      <h5 class="card-title fw-bold text-lato">Cantilever chair</h5>
                                      <div class="product-color-select">
                                          <label for="pc-1">
                                              <input type="radio" name="" id="pc-1">
                                          </label>
                                          <label class="pink" for="pc-2">
                                              <input type="radio" name="" id="pc-2">
                                          </label>
                                          <label class="blue" for="pc-3">
                                              <input type="radio" name="" id="pc-3">
                                          </label>
                                      </div>
                                      <p class="card-text">Code - Y523201</p>
                                      <p class="card-text text-lato">$42.00</p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- featured products end -->

  <!-- Leatest Products start -->
  <section class="leatest-product">
      <div class="container">
          <h2 class="section-title text-center">Leatest Products</h2>
          <div class="leatest-product-content">
              <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-newarrival-tab" data-bs-toggle="pill"
                      data-bs-target="#pills-newarrival" type="button" role="tab" aria-controls="pills-newarrival"
                      aria-selected="true">New Arrival</button>
                  </li>
                  </ul>

              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-newarrival" role="tabpanel"
                  aria-labelledby="pills-newarrival-tab">
                      <div class="row">
                        <ng-container>

                          <div class="col-xl-4 col-lg-4 col-md-4" *ngFor="let item of productLeatest">
                            <div class="single-product-item card">
                                <div class="option-product">
                                    <ul class="option-product-hover">
                                        <li class="navigation-link">
                                            <a title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                        </li>
                                        <li class="navigation-link">
                                            <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                        </li>
                                        <li class="navigation-link">
                                            <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-img-top">
                                    <a href="#" >
                                        <img src="{{item.thumbnail}}" alt="" style="
                                        height: 250px;
                                        width : 220px;
                                        padding-bottom: 30px;">>
                                    </a>
                                    <!-- <div class="p-status text-center">Sale</div> -->
                                </div>

                                <div class="card-body product-info d-flex">
                                    <div class="product-name">Comfort Handy Craft</div>

                                    <div class="product-price">
                                        <span class="discount-price">$42.00</span>
                                        <span class="initial-price text-decoration-line-through">$65.00</span>
                                    </div>
                                </div>
                                <hr class="line-product-name">
                            </div>
                        </div>
                        </ng-container>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Leatest Products end-->


  <!-- Shopex Offer start -->

  <!-- Shopex Offer end -->

  <!-- unique features start -->
  <section class="unique-features">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-7 col-md-5">
                  <div class="unique-thumb">
                      <img src="./assets/images/unique-feature-sofa.png" alt="">
                  </div>
              </div>
              <div class="col-xl-6 col-lg-5 col-md-7">
                  <div class="unique-content">
                      <h2 class="unique-title">Unique Features Of leatest &
                          Trending Poducts</h2>
                      <ul class="unique-desc">
                          <li class="unique-desc-01"><p class=" text-lato">All frames constructed with hardwood solids and laminates</p></li>
                          <li class="unique-desc-02"><p class="text-lato">Reinforced with double wood dowels, glue, screw - nails corner
                              blocks and machine nails</p></li>
                          <li class="unique-desc-03"><p class="text-lato">Arms, backs and seats are structurally reinforced</p></li>
                      </ul>
                      <div class="unique-product d-flex">
                          <button class="btn btn-shopping-now">Add To Cart</button>
                          <div class="unique-product-info">
                              <p class="unique-product-name">B&B Italian Sofa</p>
                              <p class="unique-product-price">$32.00</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- unique features end -->


  <!-- trending product start -->
  <section class="trending">
      <div class="container">
          <h2 class="section-title text-center">Trending Products</h2>
          <div class="list-trending-products">
              <div class="row">
                <ng-container *ngFor="let item of productTrending">
                  <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="card trending-product-item text-center">
                        <div class="card-img-top">
                            <img src="{{item.thumbnail}}" alt="" style="
                            height: 250px;
                            width : 220px;
                            padding-bottom: 30px;">>
                        </div>
                        <div class="card-body">
                            <div class="product-name">{{item.title}}</div>
                            <div class="trending-product-price">
                                <span class="discount-price">${{item.price}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                </ng-container>
              </div>
          </div>

      </div>
  </section>
  <!-- trending product end -->



  <!-- newslater start -->
  <section class="newslater">
      <div class="container">
          <div class="row">
              <div class="col text-center">
                  <h2 class="section-title">Get Leatest Update By Subscribe<br class="d-none d-xl-block">
                      0ur Newslater</h2>
                  <a href="shop-grid" class="btn btn-shopping-now">Shop now</a>
              </div>
          </div>
      </div>
  </section>
  <!-- newslater end -->

  <div  class="brands">
      <div class="container">
          <div class="row">
              <div class="col text-center">
                  <img src="./assets/images/image 1174.png" alt="">
              </div>
          </div>
      </div>
  </div>



