<!-- Header/Hero Section -->

<section class="breadcrumb-page">
  <div class="container">
      <h2 class="title-page">404 NOT FOUND</h2>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item"><a href="">Page</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="gfg">404 Not Founds</a></li>
          </ol>
      </nav>
  </div>
</section>

<!-- 404 error message -->
<section class="error-message">
  <img src="/404notfound.png" width= "970" height="224" alt="404">
  <h2 class="main-header-text">oops! The page you requested was not found!</h2>
  <a href="shop-grid" class="btn btn-shopping-now">Shop now</a>
</section>
